 table {
	color: #333; /* Lighten up font color */
	font-family: Helvetica, Arial, sans-serif; /* Nicer font */
	width: 690px;
	border-collapse:
	collapse; border-spacing: 0;
	margin: auto;
}

td, th { border: 1px solid #CCC; height: 30px; } /* Make cells a bit taller */

th {
	background: #F3F3F3; /* Light grey background */
	font-weight: bold; /* Make sure they're bold */
}

td {
	background: #FAFAFA; /* Lighter grey background */
	text-align: center; /* Center our text */
}

td.red{
	background: red;
}

td.green{
	background: green;
}

td.amber{
	background: #FFC200;
}

.form-control.datefield{
	width: 120px;
	background: #fafafa none repeat scroll 0 0;
	border: none;
	font-family: Helvetica,Arial,sans-serif;
	font-size: 14px;
	color: #333;
}

.container-fluid {
    height: 100%;
}

.clickable-row{
	cursor: pointer;
}

.button{
	display: block;
    width: 115px;
    height: 25px;
    background: #b2b2b2;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin: 20px auto auto;
    text-decoration: none;
}